<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/gray/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryform")*@
    <script src="~/Scripts/jquery.form.js"></script>
    @Scripts.Render("~/bundles/easyui")
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $(window).resize(function () {
                $('#List').datagrid('resize', {
                    width: $(window).width() - 10,
                    height: SetGridHeightSub(39)
                }).datagrid('resize', {
                    width: $(window).width() - 10,
                    height: SetGridHeightSub(39)
                });
            });
        });
    </script>
</body>
</html>
