@model App.Models.Sys.SysExceptionModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
}

<table class="form_table setinput355">
    <tbody>
        <tr>
            <th>
                @Html.LabelFor(model => model.HelpLink)
            </th>
            <td>
                @Html.TextBoxFor(model => model.HelpLink,new {@readonly = true})
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.Message)
            </th>
            <td>
                @Html.TextAreaFor(model => model.Message, new { @style = "height:100px;width:550px",@readonly = true })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.Source)
            </th>
            <td>
                @Html.TextBoxFor(model => model.Source, new { @readonly = true })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.StackTrace)
            </th>
            <td>

                @Html.TextAreaFor(model => model.StackTrace, new { @style = "height:100px;width:550px",@readonly = true })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.TargetSite)
            </th>
            <td>
                @Html.TextAreaFor(model => model.TargetSite, new { @style = "height:100px;width:550px" ,@readonly = true})
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.Data)
            </th>
            <td>
                @Html.TextBoxFor(model => model.Data, new { @readonly = true })
            </td>
        </tr>

        <tr>
            <th>
                @Html.LabelFor(model => model.CreateTime)
            </th>
            <td>
                @Html.TextBoxFor(model => model.CreateTime, new { @readonly = true })
            </td>
        </tr>

    </tbody>
</table>
